<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="application" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="blogapp.log" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-16.16t][%30c{-2}] - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="INFO" />
		<appender-ref ref="application" />
	</root>

</log4j:configuration>